/* css reset */
* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}

/* conteiner */
.conteiner {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
}

/* genrici */

/* body sfondo grigio */
body {
    background-color: lightgray;
}

/* heder */
header {
    background-color: white;
    padding: 10px;
    margin: o;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;  
    vertical-align: middle;

}

/* buttons */

/* .paddingbox {
    padding: 20px;
}

.color-task {
    background-color: aqua;
} */
 button {
    padding: 5px;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    color: white;
}

.button-task {
    background-color: white;
    color: gray;
    border: solid gray;
}

